# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environment
.venv/
venv/
env/

# PyInstaller build output
build/
dist/

# Logs
*.log
*.log.err

# IDE
.vscode/
.idea/
*.swp

# Windows
Thumbs.db
Desktop.ini
